@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;400;700&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}header.site-init{
    height: 44vh;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
header h1 {
    float: left;
    width: 40%;
    margin-left: 1rem;
    padding-top: 0.5rem;
    letter-spacing: 4px;
    color: white;
}
header h1 span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 15px;
}
#logoLeft {
    float: left;
    width: 40%;
    margin-top: 5rem;
    font-size: 45px;
    color: rgb(38, 52, 88);
}
#logoRight {
    float: right;
    width: 35%;
    height: 4vh;
    margin-top: 25rem;
    margin-right: -3%;
    font-size: 45px;
    color: rgb(38, 52, 88);
}
nav {   
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    height: 4vh;
    width: auto;
    gap: 3rem;
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar {
    height: 5rem;
    background-color: rgb(38, 52, 88); 
}
.container {
    margin: 1rem auto;
    padding-top: 4rem;
    width: 50%;
}
.container h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(70, 179, 247)
}
.container h2 span {
    font-weight: bold;
    letter-spacing: 4px;
}
.testimonial {
    background-color: rgb(238, 224, 113);
    height: 20vh;
    width: auto;
    margin-top: 4rem;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-size: x-large;
}
.testimonial span {
    font-size: xx-large;
}
.contactIcons {
    padding: 1rem;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: x-large;
    background-color: rgb(224, 221, 221);
}
#info {
    text-align: center;
}
