@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;400;700&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}header.site-init{
    height: 44vh;
    background-image: url(../img/register.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
header h1 {
    float: left;
    width: 40%;
    margin-left: 1rem;
    padding-top: 0.5rem;
    letter-spacing: 4px;
    color: white;
}
header h1 span {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 15px;
}
#reg-logo1 {
    margin-top: 6rem;
    padding-left: 7rem;

    font-size: 50px;
    font-weight: bold;
    color: rgb(38, 52, 88);
}
nav {   
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
    height: 4vh;
    width: auto;
    gap: 3rem;
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar {
    background-color: rgb(38, 52, 88); 
}
.container h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(70, 179, 247)
}
.testimonial {
    background-color: rgb(238, 224, 113);
    font-size: large;
}
.testimonial span {
    font-size: large;
}
#petTable {
    margin-top: 2rem;
}


/* foooter */

footer {
    background-color: rgb(222, 247, 247);
}
footer p {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    color: rgb(38, 52, 88);   
}
.footerLinks h2 {
    font-weight: bold;
}
.location {
    float: left;
    margin-left: 10%;
    margin-right: 0;
    width: 15rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}